[package]
name = "libproc"
version = "0.5.0"
description = "A rust wrapper of libproc to get information about running processes - currently Mac OS X only"
authors = ["Andrew Mackenzie <andrew@mackenzie-serres.net>"]
repository = "https://github.com/andrewdavidmackenzie/libproc-rs"
readme = "README.md"
license = "MIT"
edition = "2018"

[dependencies]
errno = "^0.1.8"
libc = "^0.2.62"

[lib]
name = "libproc"
path = "src/lib.rs"

[[bin]]
name = "procinfo"
path = "src/procinfo.rs"

[[bin]]
name = "dmesg"
path = "src/dmesg.rs"
