[package]
name = "libproc"
version = "0.11.0"
description = "A library to get information about running processes - for Mac OS X and Linux"
authors = ["Andrew Mackenzie <andrew@mackenzie-serres.net>"]
repository = "https://github.com/andrewdavidmackenzie/libproc-rs"
documentation = "https://andrewdavidmackenzie.github.io/libproc-rs/libproc/index.html"
readme = "README.md"
license = "MIT"
edition = "2018"

[dependencies]
errno = "0.2.5"
libc = "^0.2.62"

[features]
default = ["macosx_10_9"]
macosx_10_7 = []
macosx_10_9 = ["macosx_10_7"]

[lib]
name = "libproc"
path = "src/lib.rs"

[[bin]]
name = "procinfo"
path = "src/procinfo.rs"

[[bin]]
name = "dmesg"
path = "src/dmesg.rs"

[build-dependencies]
bindgen = "0.53.1"